pkgbase = uringscope-bin
	pkgdesc = eBPF tracer and analyzer for io_uring (static binary release)
	pkgver = 0.3.0
	pkgrel = 1
	url = https://github.com/rch0wdhury/uringscope
	arch = x86_64
	arch = aarch64
	license = MIT
	license = GPL-2.0-only OR BSD-3-Clause
	provides = uringscope
	conflicts = uringscope
	source_x86_64 = uringscope-0.3.0-x86_64::https://github.com/rch0wdhury/uringscope/releases/download/v0.3.0/uringscope-x86_64
	source_x86_64 = uringscope-0.3.0.8::https://raw.githubusercontent.com/rch0wdhury/uringscope/v0.3.0/docs/uringscope.8
	source_x86_64 = uringscope-0.3.0.LICENSE::https://raw.githubusercontent.com/rch0wdhury/uringscope/v0.3.0/LICENSE
	sha256sums_x86_64 = b446ab5cfe0d36a0907746f21383d058a6fe0c5cd6dccb40903d9d5b6851ec86
	sha256sums_x86_64 = e55e4c07163e06c73aa609fea3f57b594e0742e30d79771edbf297f5d0be259a
	sha256sums_x86_64 = 9334c5cbf2542b9b31bbfb6d18e6bd829e8de1205bad241761358580581a4c81
	source_aarch64 = uringscope-0.3.0-aarch64::https://github.com/rch0wdhury/uringscope/releases/download/v0.3.0/uringscope-aarch64
	source_aarch64 = uringscope-0.3.0.8::https://raw.githubusercontent.com/rch0wdhury/uringscope/v0.3.0/docs/uringscope.8
	source_aarch64 = uringscope-0.3.0.LICENSE::https://raw.githubusercontent.com/rch0wdhury/uringscope/v0.3.0/LICENSE
	sha256sums_aarch64 = 832ff058e24f3937c49dd743d79ebed6a328c8206e6a7f07c28c888e50fb6521
	sha256sums_aarch64 = e55e4c07163e06c73aa609fea3f57b594e0742e30d79771edbf297f5d0be259a
	sha256sums_aarch64 = 9334c5cbf2542b9b31bbfb6d18e6bd829e8de1205bad241761358580581a4c81

pkgname = uringscope-bin
